.p-4 {
    margin-bottom: 1vh;
    margin-top: 3vh;
    padding: 1.5rem!important;
}
section {
    margin-top: -3vh;
    padding: 1rem;
    background: black;
    margin-bottom: 35px;
    position: relative;
    z-index: 1;
    color: white;
    margin-bottom: 1vh;
}
element.style {
    margin-top: -3vh;
    background-color: black;
}
section img{
    height: 10vh;
    width: 10vh;
}
a {
    padding: 1vh;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}